.footer {
    margin-top: auto;
    color: rgba(255, 255, 255, 0.85);
    height: 50px;
    display: flex;
    background-color: black;
    justify-content: center;
    align-items: center;
    font-size: 12px;
    padding: 25px 0;
    position: fixed;
    bottom: 0;
    width: 100%;

}

.icon {
    padding: 10px;
}

.icon-item {
    padding: 10px;
    font-size: 20px;
}