h2 {
    background-color: aqua;
    margin-top: 10px;
    text-align: center;
}

.support {
    margin-left: 20px;
    margin-top: 15px;
    margin-right: 20px;
}

h3 {

    text-align: center;
}

.contact {
    margin-left: 50px;
    margin-right: 50px;
}